#title {
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #faed00;
  /*
  Shadowed styling was inspired from: https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/ 
  */
  text-shadow: 1px 1px 0px #4d5300,
               1px 2px 0px #4d5300,
               1px 3px 0px #4d5300,
               1px 4px 0px #4d5300,
               1px 5px 0px #4d5300,
               1px 6px 0px #4d5300,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

#grid-table {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-collapse: collapse;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

/* container for buttons to interface with the game */
.buttons-container {
  margin-top: 20px;
}

#step-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling of individual buttons */
button {
	background-color: blue;
  border: 1 px solid white;
  color: white;
  font-size: 11px;

  width: 100px;
  height: 50px;

  margin-left: 50px;

  padding: 2px;
  opacity: 0.6;
}

button:hover{
  background-color: orange;
  opacity: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}